@model system_SIS.Models.StudentAdmission

@{
    Layout = "_AdmissionLayout";  // Specifies the layout to use
    ViewData["Title"] = "Admission";
}

<!-- Progress Steps -->
<div class="form-progress">
    <div class="progress-step">
        <div class="progress-circle"></div>
        <small>Personal Information</small>
    </div>
    <div class="progress-step active">
        <div class="progress-circle active"></div>
        <small>Contact</small>
    </div>
    <div class="progress-step">
        <div class="progress-circle"></div>
        <small>Family</small>
    </div>
    <div class="progress-step">
        <div class="progress-circle"></div>
        <small>School</small>
    </div>
    <div class="progress-step">
        <div class="progress-circle"></div>
        <small>Documents</small>
    </div>
    <div class="progress-step">
        <div class="progress-circle"></div>
        <small>Finish</small>
    </div>
</div>

<hr />

<form asp-controller="AdmissionPortal" asp-action="Contact" method="post">
    <div class="container mt-4">
        <!-- Contact Information -->
        <h6 class="fw-bold" style="color: #172154">Contact Information</h6>
        <div class="row mb-3">
            <<div class="col-md-4">
                <label for="Phone" class="form-label">Phone <span style="color: red;">*</span></label>
                <input type="text" id="Phone" name="Phone" class="form-control form-input"
                       required pattern="\d+" title="Only numbers allowed." value="@Model.Phone">
                <small id="phoneError" class="error-message"></small>
            </div>
        </div>

        <div class="row mb-3">
            <!-- Current Address -->
            <h6 class="fw-bold" style="color: #172154">Current Address</h6>
            <div class="row mb-3">
                <label for="CurrentAddress" class="form-label">Current Address <span style="color: red;">*</span></label>
                <input type="text" id="CurrentAddress" name="CurrentAddress" class="form-control form-input"
                       required value="@Model.CurrentAddress">
                <small id="currentAddressError" class="error-message"></small>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="CurrentZipCode" class="form-label">Current Zip Code <span style="color: red;">*</span></label>
                    <input type="text" id="CurrentZipCode" name="CurrentZipCode" class="form-control form-input"
                           required pattern="\d+" title="Only numbers allowed." value="@Model.CurrentZipCode">
                    <small id="currentZipCodeError" class="error-message"></small>
                </div>
            </div>
        </div>

        <!-- Permanent Address -->
        <div class="row mb-3">
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="PermanentAddress" class="form-label">Permanent Address <span style="color: red;">*</span></label>
                    <input type="text" id="PermanentAddress" name="PermanentAddress" class="form-control form-input"
                           required value="@Model.PermanentAddress">
                    <small id="permanentAddressError" class="error-message"></small>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="PermanentZipCode" class="form-label">Permanent Zip Code <span style="color: red;">*</span></label>
                    <input type="text" id="PermanentZipCode" name="PermanentZipCode" class="form-control form-input"
                           required pattern="\d+" title="Only numbers allowed." value="@Model.PermanentZipCode">
                    <small id="permanentZipCodeError" class="error-message"></small>
                </div>
            </div>
        </div>

        <!-- In case of Emergency -->
        <h6 class="fw-bold" style="color: #172154;">In case of Emergency</h6>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="EmergencyContactPerson" class="form-label">Emergency Contact Person <span style="color: red;">*</span></label>
                <input type="text" id="EmergencyContactPerson" name="EmergencyContactPerson" class="form-control form-input"
                       required value="@Model.ContactPerson">
                <small id="ContactPersonError" class="error-message"></small>
            </div>
            <div class="col-md-4">
                <label for="EmergencyContactNumber" class="form-label">Emergency Contact Number <span style="color: red;">*</span></label>
                <input type="text" id="EmergencyContactNumber" name="EmergencyContactNumber" class="form-control form-input"
                       required pattern="\d+" title="Only numbers allowed." value="@Model.ContactNumber">
                <small id="ContactNumberError" class="error-message"></small>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-4">
                <label for="EmergencyRelationship" class="form-label">Emergency Relationship <span style="color: red;">*</span></label>
                <input type="text" id="EmergencyRelationship" name="EmergencyRelationship" class="form-control form-input"
                       required value="@Model.Relationship">
                <small id="Relationship" class="error-message"></small>
            </div>
            <div class="row mb-5">
                <div class="col-md-4">
                    <label for="EmergencyAddress" class="form-label">Emergency Address <span style="color: red;">*</span></label>
                    <input type="text" id="EmergencyAddress" name="EmergencyAddress" class="form-control form-input"
                           required value="@Model.EmergencyAddress">
                    <small id="emergencyAddressError" class="error-message"></small>
                </div>
            </div>
        </div>

    </div>

    <!-- Back and Next Buttons -->
    <div class="text-end">
        <a href="@Url.Action("Index", "AdmissionPortal")"
           class="text-decoration-none"
           style="display: inline-block; background-color: gray; color: white; padding: 10px 20px; border-radius: 4px; text-align: center; border: none; font-size: 16px;">
            Back
        </a>
        <button asp-action="Family" type="submit" class="btn-next"
                style="padding: 10px 20px; border-radius: 4px; font-size: 16px;">
            Next
        </button>
    </div>
</form>

<script>
    // Copy current address to permanent address if checkbox is checked
    function copyCurrentAddress() {
        if (document.getElementById("sameAsCurrentAddress").checked) {
            document.getElementById("permanentAddress").value = document.getElementById("currentAddress").value;
            document.getElementById("permanentZipCode").value = document.getElementById("currentZipCode").value;
        } else {
            document.getElementById("permanentAddress").value = '';
            document.getElementById("permanentZipCode").value = '';
        }
    }
</script>
